# Files to be ignored

# node stuff
node_modules
.gitignore

# webpack stuff

# testing
coverage/*
client/components/_snapshots_/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mongo
config

# Bundle
public/bundle.js

.DS_Store

