# Files to be ignored

# node stuff
node_modules
.gitignore

# webpack stuff

# testing
coverage/*
client/components/_snapshots_/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Bundle
public/bundle.js

.DS_Store

# Loader.io
loaderio-a7bdf7e14d8cc9ade5ccca26ee414691.txt
public/loaderio-a7bdf7e14d8cc9ade5ccca26ee414691.txt