# Files to be ignored

# node stuff
node_modules
.gitignore

# webpack stuff

# testing
coverage/*
client/components/_snapshots_/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Security
config

# Bundle
public/bundle.js

.DS_Store

# Loader.io
loaderio-1a2af75f3a065accf1b4028fdefefd98.txt
public/loaderio-1a2af75f3a065accf1b4028fdefefd98.txt